@page
@model FAP_FPT.Pages.Student.StudenScheduleModel
@{
}

<link rel="stylesheet" href="~/css/table.css" />

<div id="Note" style="margin-top: 30px; margin-left: 10px">
    <h2>
        Activities for
        <span>tiennmhe161579 (Ngô Minh Tiến)</span>
    </h2>
    <p>
        <b>Note</b>: These activities do not include extra-curriculum activities, such as
        club activities ...
    </p>
    <p>
        <b>Chú thích</b>: Các hoạt động trong bảng dưới không bao gồm hoạt động ngoại khóa,
        ví dụ như hoạt động câu lạc bộ ...
    </p>
    <div id="ctl00_mainContent_ghichu">
        <p>
            Các phòng bắt đầu bằng AL thuộc tòa nhà Alpha. VD: AL...<br>
            Các phòng bắt đầu bằng BE thuộc tòa nhà Beta. VD: BE,..<br>
            Các phòng bắt đầu bằng G thuộc tòa nhà Gamma. VD: G201,...<br>
            Các phòng tập bằng đầu bằng R thuộc khu vực sân tập Vovinam.<br>
            Các phòng bắt đầu bằng DE thuộc tòa nhà Delta. VD: DE,..<br>
            Little UK (LUK) thuộc tầng 5 tòa nhà Delta
        </p>
    </div>
</div>

<div class="container">
    <div class="timetable-img text-center">
        <img src="img/content/timetable.png" alt="">
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead>
                <tr class="bg-light-gray">
                    <th class="text-uppercase">
                        Time
                    </th>
                    <th class="text-uppercase">Monday</th>
                    <th class="text-uppercase">Tuesday</th>
                    <th class="text-uppercase">Wednesday</th>
                    <th class="text-uppercase">Thursday</th>
                    <th class="text-uppercase">Friday</th>
                    <th class="text-uppercase">Saturday</th>
                    <th class="text-uppercase">Sunday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle">Slot1</td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle">Slot2</td>
                    <td>
                    </td>
                    <td class="bg-light-gray">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="bg-light-gray">
                    </td>
                </tr>

                <tr>
                    <td class="align-middle">Slot3</td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle">Slot 4</td>
                    <td class="bg-light-gray">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="bg-light-gray">
                    </td>
                    <td>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle">Slot5</td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="bg-light-gray">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle">Slot6</td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="bg-light-gray">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div name="NoteTable" style="margin-top: 30px; margin-left: 10px">
    <p>
        <b>More note / Chú thích thêm</b>:
    </p>
    <div id="ctl00_mainContent_divfoot">
        <ul>
            <li>(<font color="green">attended</font>): tiennmhe161579 had attended this activity / Ngô Minh Tiến đã tham gia hoạt động này</li>
            <li>(<font color="red">absent</font>): tiennmhe161579 had NOT attended this activity / Ngô Minh Tiến đã vắng mặt buổi này</li>
            <li>(-): no data was given / chưa có dữ liệu</li>
        </ul>
    </div>

</div>
